html{
    background: linear-gradient(217deg, rgba(243, 118, 118, 0.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(147, 243, 147, 0.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(156, 156, 236, 0.8), rgba(0,0,255,0) 70.71%);
    padding:2rem;
   
}
.first svg{
    background-color: aliceblue;
    width:350px;
    height:350px;
}
.first svg:hover{
    width:360px;
    height:360px;
    background-color: burlywood;
    transition: 500ms;
}
.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
  }
  
  .arc path {
    stroke: #fff;
  }