<html style="background: linear-gradient(to bottom, rgb(117, 117, 252), rgb(216, 216, 241) 50%, #eee 100%);">
    <h1>.</h1>
    <div >
        <form [formGroup]="loginform" (ngSubmit)="onsubmit()" style="text-align: center;line-height:50px;border-radius:30px;padding:50px;background-color:aliceblue;margin: 200px 700px 800px 400px;">
            <h2 style="text-align: center;font-family:Georgia, 'Times New Roman', Times, serif;font-weight:bolder;font-size:xx-larger">LOGIN HERE</h2>
            <div class="form-group">
                <label for="userid" style="text-align: left;font-size:larger;font-weight: bolder;">
                    LOGIN Id * :
                <input type="text" class="form-control" formControlName="userid" id="userid" autocomplete="off" pTooltip="Enter your username" placeholder="Enter your Login id">
                <div class="err" *ngIf="loginform.get('userid')?.invalid && loginform.get('userid')?.touched"  style="width:13rem;border-radius:25px">* LOGIN IS REQUIRED</div></label>
            </div>
            <div class="form-group">
                <label for="pwd" style="text-align: left;font-size:larger;font-weight: bolder;">
                    PASSWORD * :
                <input type="password" class="form-control" formControlName="pwd" id="pwd" autocomplete="off" pTooltip="Enter your password" placeholder="Enter the Password">
                <div class="err" *ngIf="loginform.get('pwd')?.invalid && loginform.get('pwd')?.touched"  >* PASSWORD IS REQUIRED</div></label>
            </div>
            <button class="btn btn-success" [disabled]="loginform.invalid"  style="width:13rem;border-radius:25px">LOGIN</button>
        </form>
    </div>
</html>

