<html style="background: linear-gradient(to bottom, rgb(117, 117, 252), rgb(216, 216, 241) 50%, #eee 100%);">
    <!-- <table style="text-align:right;margin:.2px .2px .2px 1695px;background-color:cornsilk;padding:2px">
        <thead>
            <tr>
                <td >
                    <a class="btn btn-primary" routerLink="loginpage" routerLinkActive="active"><mat-icon>login</mat-icon>LOGIN</a>
                    <a class="btn btn-secondary"  routerLink="signuppage" routerLinkActive="active"><mat-icon>signpost</mat-icon>SIGNUP</a>
                </td>
            </tr>
        </thead>
    </table> -->
    <router-outlet></router-outlet>
</html> 
